/* App.css */

/* Style pour le conteneur principal de l'application */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

/* Style pour le logo */
.logo {
  width: 250px;
  height: 250px;
  object-fit: contain;
  margin: auto; /* Ajout de cette ligne pour centrer le logo */
}
/* Style pour le titre */
.content h1 {
  text-align: center;
  font-size: 35px;
  color: #333; /* Vous pouvez ajuster la couleur selon vos préférences */
  margin-bottom: 20px;
}

/* Style pour les boutons */
.button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-bottom: 10px;
}

/* Style pour l'image dans les boutons */
.button-image {
  width: 250px;
  height: auto;
  object-fit: contain;
}
